
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultAdminLayout.cshtml";
}

@section welcome
    {
    <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
        <i class="icon icon-user">
        </i>  <span class="text">Dobrodošli @ViewBag.AdminIme @ViewBag.AdminPrezime</span><b class="caret"></b>
    </a>
}
<body><h2>Dobrodosli na Admin panel: @ViewBag.AdminIme @ViewBag.AdminPrezime</h2></body>

