@model List<DigitalScores.Models.Utakmice>

@{
    ViewBag.Title = "GamePreview";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<h3>Utakmice @Model.First().KoloUtakmice.Naziv</h3>


<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KlubDomacin.Naziv)
        </td>
        <td>
            :
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KlubGost.Naziv)
        </td>
        <td>
            @*@Html.ActionLink("Edit","Edit", new { id=item.Id })*@
            @Html.ActionLink("Edit", "UnosRezultata", "Rezultati",new { utakmicaId = item.Id},null)
        </td>
    </tr>
}

</table>
