@model List<DigitalScores.Models.Utakmice>

@{
    ViewBag.Title = "GamePreview";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h3>Utakmice @Model.First().KoloUtakmice . Kola</h3>


<table class="table">


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KlubDomacin)
        </td>
        <td>
            :
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KlubGost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })  
        </td>
    </tr>
}

</table>
