@model DigitalScores.Models.Users

@{
    ViewBag.Title = "Delegates";
    Layout = "~/Views/Shared/_DefaultDelegateLayout.cshtml";
}

@section welcome
    {
    <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
        <i class="icon icon-user">
        </i>  <span class="text">Dobrodošli @Model.Ime @Model.Prezime</span><b class="caret"></b>
    </a>
}
<h2>Pozdrav: @Model.Ime @Model.Prezime izaberite kategoriju</h2>

